* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    background-color: brown;
    color: bisque;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

.btn {
    cursor: pointer;
}

.confirmacion {
    color: brown;
    background-color: bisque;
    text-align: center;
}

li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem
}

footer {
    min-height: 10vh;
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}