/* Esto es un comentario CSS */
body {
  margin: 0rem;
  display: grid;
  grid-template-rows: 2fr auto auto 1fr;
}

.main, .main-footer, .main-header {
  background-color: brown;
  color: bisque;
  display: flex;
}

.main-header {
  justify-content: center;
  text-align: center;
}
.main-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main {
  min-height: 60vh;
}

section.intro {
  margin: 2.6rem;
}
section.intro header {
  background-color: #ffb55e;
  color: #d65f5f;
}
section.intro article div div p {
  color: darkblue;
}
section.intro article aside div {
  color: aqua;
}

section.samples {
  margin: 2.6rem;
}
section.samples header {
  background-color: #c46a00;
  color: #f5d9d9;
}

p {
  border: 1px solid crimson;
  padding: 1rem;
}

.main-footer {
  justify-content: center;
  align-items: center;
  text-align: center;
}
