* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    background-color: brown;
    color: bisque;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}
footer {
    min-height: 10vh;
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form_control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}
.flag-wrapper {
    width: 40%;
    float: right;
}

.flag-wrapper img {
    max-width: 100%;
}
.datosPais {
    margin: 1rem 0rem;
    background-color: bisque;
    border: 1px solid brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
