* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
body>header {
    background-color: brown;
    color: bisque;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body>header h1{
    margin: 0;
    width: 100%;
    text-align: center;
}

.sticky {
    min-height: 0vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    padding-bottom: 0.5rem;
}

.logo {
    font-size: 5rem;
    display: inline-block;
    padding: 1rem;
}

.top-sticky {
    height: 12vh;
}

nav {
    width: 80%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: block;
    padding: 0.1rem;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.4rem;
}

.active {
    background-color: bisque;
    color: brown;
}

main {
    margin: 2rem;
    min-height: 200vh;
}
footer {
    min-height: 10vh;
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}