body {
    margin: 0;
}

.main-header {
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    text-align: center;  
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
 
section {
    margin: 2.6rem;
    header {
        background-color: bisque;
        color:brown;
    }    
}

