extends ../partials/layout.pug

block variables
    -const page = 1

block main
    section#inicio
        header
            h2 Inicio
        p. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolor, <strong>quas mollitia</strong>, odio laboriosam dolorem aliquid quod 
            fugiat repudiandae eum veritatis sed quo dolorum tempore nihil qui delectus quidem accusamus ab.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos impedit animi, sed distinctio cupiditate iure nesciunt aliquam illo iste quis quos aut voluptas magni corrupti sunt, at, rerum sapiente 
            b laborum!
        div.info Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt omnis illo reprehenderit nam deleniti excepturi, eaque corrupti iure, tempore incidunt, animi suscipit exercitationem! Eos sint voluptas impedit beatae, quos et!
        figure
            img(src="https://via.placeholder.com/500x350/" alt="Image placeholder")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo facilis dolor distinctio, itaque quo in aliquid iure reiciendis at? Nisi expedita quibusdam iusto cupiditate ad aut ipsam ab magni porro?        
