extends ../partials/layout.pug

block variables
    -const page = 4
    -const tituloPagina = 'Partners'

block main
    section
        header
            h2 Partners
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quam necessitatibus adipisci praesentium, laboriosam dolore tempora enim asperiores accusamus possimus nulla maiores molestias, repellendus minima sint, dolorem quis ut! Illum.
        p Necessitatibus inventore velit, illo error corporis unde saepe vero odio voluptates debitis, vel minus perferendis dolor non consectetur excepturi ducimus dolore! Corrupti ab provident, quam labore nisi doloremque voluptates inventore!
        h3 Partner 1
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aperiam expedita itaque alias, corrupti nam iusto exercitationem, repellat illo quia ut veniam porro. Culpa distinctio numquam eos facere, enim fuga?
        p Quasi quae eos obcaecati. Perferendis beatae dignissimos, natus unde sit praesentium recusandae ad sequi, facere neque omnis sint laborum. Iure, cum veritatis dolores enim libero ipsam laboriosam dolorum accusantium magnam.
        p Fugit amet aliquid veritatis adipisci sit voluptatum, neque provident et nisi laborum dicta praesentium obcaecati ut sapiente voluptatibus est soluta deleniti recusandae beatae architecto exercitationem suscipit nulla. Facilis, quidem aspernatur!
        h3 Partner 2
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aperiam expedita itaque alias, corrupti nam iusto exercitationem, repellat illo quia ut veniam porro. Culpa distinctio numquam eos facere, enim fuga?
        p Quasi quae eos obcaecati. Perferendis beatae dignissimos, natus unde sit praesentium recusandae ad sequi, facere neque omnis sint laborum. Iure, cum veritatis dolores enim libero ipsam laboriosam dolorum accusantium magnam.
        p Fugit amet aliquid veritatis adipisci sit voluptatum, neque provident et nisi laborum dicta praesentium obcaecati ut sapiente voluptatibus est soluta deleniti recusandae beatae architecto exercitationem suscipit nulla. Facilis, quidem aspernatur!
        h3 Partner 3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aperiam expedita itaque alias, corrupti nam iusto exercitationem, repellat illo quia ut veniam porro. Culpa distinctio numquam eos facere, enim fuga?
        p Quasi quae eos obcaecati. Perferendis beatae dignissimos, natus unde sit praesentium recusandae ad sequi, facere neque omnis sint laborum. Iure, cum veritatis dolores enim libero ipsam laboriosam dolorum accusantium magnam.
        p Fugit amet aliquid veritatis adipisci sit voluptatum, neque provident et nisi laborum dicta praesentium obcaecati ut sapiente voluptatibus est soluta deleniti recusandae beatae architecto exercitationem suscipit nulla. Facilis, quidem aspernatur!
