-const aMenu = [ {nombre: 'Inicio' , id: 'index', description: 'Bla bla bla'}, {nombre: 'Clientes', id: 'clientes', description: 'Bla bla bla'}, {nombre: 'Porfolio', id: 'porfolio', description: 'Bla bla bla'}, {nombre: 'Partners', id: 'partners', description: 'Bla bla bla'}, {nombre: 'Aceca de', id: 'acerca', description: 'Bla bla bla'}] 

header#main-header.main-header
    //- -if (page == 1) {
    //- h1= titulo
    //- -} else {
    //- h1 #{titulo} - Continuación
    //- -}    
    if (page == 1)
        h1= titulo
    else
        h1 #{titulo} - Continuación
    nav.main-menu
        ul
            each item in aMenu
                +itemMenu(item)