body {
    margin: 0;
}

.main_header {
    background-color: brown;
    color: bisque;
    padding: 0.8rem 0rem 0.5rem 1rem 
}

.main_header p {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: -1rem;
}

.main_footer {
    background-color: brown;
    color: bisque; 
    text-align: center;
    padding: 1rem;
}

.content_wrapper {
    margin: 1rem 3rem;
}


.image_wrapper {
    margin: 0;
    text-align: center;
}

img {
   max-width: 100%;
}
