body {
    margin: 0;
}

.main_header {
    background-color: brown;
    color: bisque;
    padding: 0.8rem 0rem 0.5rem 1rem 
}

.main_header p {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: -1rem;
}

.main_footer {
    background-color: brown;
    color: bisque; 
    text-align: center;
    padding: 1rem;
}

.content_wrapper {
    margin: 1rem 3rem;
}


.image_wrapper {
    margin: 0;
    text-align: center;
}

img {
   max-width: 100%;
}

.pre_no_mono {
    font-family: inherit;
}

blockquote {
    /* margin-inline-start: 0;
    margin-inline-end: 0; */
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 4px solid lightgrey;
    /* font-style: italic; */
}

blockquote footer {
    width: fit-content;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-top: 1px solid gray;
}
/* ul {
    list-style-type: decimal;
}

ol {
    list-style-type: disc
} */

.dt {
    float: left;
    clear: left;
}

.dd {
   float: left;
   clear: right;
}

.clearfix {
    clear: both;
}