* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    background-color: brown;
    color: bisque;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

section {
    padding: 2rem;
}


dialog {
    background-color: bisque;
    color: brown;
}

dialog div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.out-wrapper {
    text-align: center;
    padding-bottom: 1rem;
}

section.cronos  output {
    border: 1px solid brown;
    padding: 0.4rem 2rem;
}


footer {
    min-height: 10vh;
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}