/* 
Ejemplo en el que la propiedad borde se hereda

* {
   border: inherit; 
}

body {
    border: 1px solid black;
    padding: 0.5rem;
} */

/******************
Estilos del Header
********************/

body>header {
    background-color: brown;
    color: bisque;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 5rem; 
}
    
body>header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

body>header p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem; 
    font-weight: bold;
}

/***********************************
Estilos de la sección .combinadores
*************************************/

/* Selectores combinados (antes selectores contextuales) */

/* Selector de descendientes (descendent) - símbolo el espacio  */
section.combinadores p {
    background-color: coral
} 

/* Selector de hijo (child) - símbolo es el > */
section.combinadores>p {
    background-color: cyan
} 

/* Selector de hermanos (sibilings) - el simbolo es la ~ */
section.combinadores div~p {
    background-color: darkseagreen;
}

/* Selector de hermanos adyacentes (adyacent sibilings) el símbolo es el + **/
section.combinadores div+p {
    background-color: goldenrod;
}

/***********************************
Estilos de la sección .atributos
*************************************/

/* Selector de atributo - simbolo [] */

.atributos p[title] {
    color: crimson;
}

/* Atributo igual a  */
.atributos [title="Extra"] {
    color: blue;
}

/* Atributo empieza por  */
.atributos [title^="Par"] {
    color: darkgreen !important;
}

.atributos /* Atributo contiene  */
[title*="rraf"] {
    color: darkmagenta
}

/* Atributo termina por  */
.atributos [title$="1"] {
    color: gold
}

/*******************************************************************
Estilos de las secciones .pseudo-elementos, .numerados y .comillas
********************************************************************/
.pseudo-elementos p::first-letter {
    font-size: 3rem;
    font-family: fantasy;
    color: blue;
}

.pseudo-elementos p::first-line {
    font-style: italic;
    font-weight: bold;
}

.pseudo-elementos .medio {
    color: brown;
}

.pseudo-elementos .medio-pro::before,
.pseudo-elementos .medio-pro::after
{
    content: url(../../favicon.ico) "Fantástico" url(../../favicon.ico);
    display: block;
    background-color: bisque;
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.banda {
        background-color: bisque;
        padding: 1rem;
        margin-top: 0.5rem;
    }

body {
    counter-reset: pepito;
}

.numerados p::before {
    counter-increment: pepito; 
    content: counter(pepito, armenian) " - ";
    font-weight: bold; 
}

.comillas {
    /* quotes: "\00AB" "\00BB"; */
    quotes: "«" "»";
}

.comillas p::before {
    content: open-quote;
}

.comillas p::after {
    content: close-quote;
}

/*******************************************************************
Estilos de las secciones .pseudo-clases...
********************************************************************/

.pseudo-clases header {
    background-color: coral;
    padding-bottom: 1rem;
}

.pseudo-clases header h2 {
    margin-bottom: 0.3rem;
}

.pseudo-clases header>div {
    display: none;
}

.pseudo-clases header:hover>div {
    display: initial;
    padding: 1rem;
    text-align: center;
}


/* .pseudo-clases a {
    color: crimson;
} */

.pseudo-clases a:link {
    color: crimson;
}

.pseudo-clases a:visited {
    color: goldenrod;
}


.pseudo-numericas p:nth-child(2) {
    text-decoration: underline;
}

.pseudo-numericas p:nth-of-type(2) {
    font-style: italic;
}

/*  .pseudo-numericas li:nth-of-type(even) */
/* .pseudo-numericas li:nth-of-type(2n) {
    background-color: bisque;
} */

/* .pseudo-numericas li:nth-of-type(odd) */
/*.pseudo-numericas li:nth-of-type(2n+1)
 {
    background-color: darkseagreen;
} */

.pseudo-numericas li {
    font-family: monospace;
    width: 4rem;
    /* padding-right: 2rem; */
}

.pseudo-numericas li:nth-of-type(3n) {
    background-color: burlywood
}
.pseudo-numericas li:nth-of-type(3n+1) {
    background-color: darkseagreen;
}
.pseudo-numericas li:nth-of-type(3n+2) {
    background-color: lightblue;
}
/* .pseudo-numericas li:nth-of-type(1n+10) {
    padding-right: 1.5rem;
} */

/* .pseudo-numericas li:last-of-type {
    padding-right: 1.5rem;
} */

/******************
Estilos del Footer
********************/
body>footer {
    background-color: brown;
    color: bisque;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    margin-top: 1rem;
}
body>footer address {
    font-style: normal
}
body>footer p {
    margin-top: 0;
    margin-bottom: 0;    
}