*  {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header, footer {
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    min-height: 10vh;
}

main {
    width: 90%;
    margin: 1rem auto 4rem auto; 
    min-height: 80vh;
}

p {
    background-color: salmon;
    padding: 0.5rem 1rem;
}

.relative {
    position: relative;
    top: 2.5rem;
    left: 2rem;
    background-color: rgba(250, 128, 114, 0.7);
}

.absolute_wrapper {
    position: relative;
}

.absolute {
    background-color: rgba(250, 128, 114, 0.7);
    margin: 0;
    position: absolute;
    top: 0;
    right: 6rem;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.3rem;
    overflow: hidden;
    align-items: flex-start;
}
 footer:hover {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
 }

 .center {
     text-align: center;
 }

 .overflow {
     height: 40vh;
     overflow-y: scroll;
 }

 .overflow::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .overflow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; 
  }
  
  /* Handle */
  .overflow::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
  }
  
  /* Handle on hover */
  .overflow::-webkit-scrollbar-thumb:hover {
    background: #555; 
    background: #b30000; 
  }