.gama {
    display: flex;
}
.gama div {
    color: #deb887;
    height: 10rem;
    width: 10rem;
}
.gama div:nth-of-type(1) {
    background-color: rgb(126, 78, 26);
    
}
.gama div:nth-of-type(2) {
    background-color: rgb(255, 193, 127);
}
.gama div:nth-of-type(3) {
    background-color: hsl(31, 100%, 61%)
}
.gama div:nth-of-type(4) {
    background-color: #806141
}
.gama div:nth-of-type(5) {
    background-color: #CC7E2B
}

.transp {
    display: flex;
    margin: 1rem;
    border: 1px solid;
    padding: 1rem;
    width: 90%;
    height: 10vh;
    background-color: aqua
}
.transp div {
    height: 10rem;
    width: 10rem;
    background-color: rgb(89, 38, 12)
}

.transp div:nth-of-type(2) {
    background-color: rgba(89, 38, 12, 0.644)
}

.transp p {
    font-size: 4rem;
    font-weight: bold;
    color: rgba(129, 8, 8, 0.5)
}

.opaciti {
    margin-top: 8rem;
    opacity: 0;
}

.opaciti:hover {
    opacity: 1;
}

.fondo {
    /* background-color: rgba(165, 42, 42, 0.6) */
    opacity: 0.2;
    background-image: url(../assets/iguana.jpg)
}

.fondo h2 { 
    opacity: initial;
}

.gradient {
    text-align: center;
    color: cornsilk;
    background: rgba(209,139,35,0.99); 
    background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(120,87,39,1) 27%, rgba(209,139,35,0.99) 62%, rgba(233,212,179,0.99) 100%); 
    /*radial-gradient(ellipse at center, rgba(243,226,199,1) 0%, rgba(120,87,39,1) 27%, rgba(209,139,35,0.99) 62%, rgba(233,212,179,0.99) 100%);*/
}