doctype
html(lang=language)
    head
        meta(charset='utf-8')
        title Hola Pug
    body
        header
            h1 Hola Pug
        section
            p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolor, <strong>quas mollitia</strong>, odio laboriosam dolorem aliquid quod 
                fugiat repudiandae eum veritatis sed quo dolorum tempore nihil qui delectus quidem accusamus ab.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos impedit animi, sed distinctio cupiditate iure nesciunt aliquam illo iste quis quos aut voluptas magni corrupti sunt, at, rerum sapiente 
                b laborum!
        footer
            address #{autor}