


main {
    margin: 5%;
}

section.reptiles:after{
    content: '';
    display: block;
    clear: both;
}


.img-wrapper-left {
    width: 50%;
    float: left;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

.img-wrapper-right {
    width: 50%;
    float: right;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

img {
    max-width: 100%;
}

/* footer {

} 

aside con texto

*/